

.messageRanking-background {
    padding: 10px;

    text-align: right;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border: none;

    font-family: 'Open Sans Condensed', sans-serif;

}